<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.c.dao.SharingDao">
	<insert id="adddiary" parameterType="map">
		insert into
		diary
		values
		(#{id},#{username},#{title},#{text},#{time},#{statu})
	</insert>
	<insert id="addCompositiony" parameterType="map">
		insert into
		composition
		values
		(#{id},#{username},#{title},#{src},#{time},#{statu})
	</insert>
	<insert id="addShareImage" parameterType="map">
		insert into
		shareimage
		values
		(#{id},#{username},#{title},#{src},#{time},#{statu})
	</insert>
	<select id="savesharingdiary" parameterType="map" resultType="com.c.etity.Diary">
		select *
		from diary
		where statu=1
	</select>
	<insert id="addCollection" parameterType="map">
		insert into
		Collection
		values
		(#{id},#{collectionuser},#{collectionid},#{collectiontype},#{collectiontime})
	</insert>
	<insert id="addCommentdiary" parameterType="map">
		insert into
		comment
		values
		(#{id},#{commentuser},#{commentid},#{commenttext},#{commenttype},#{time})
	</insert>
	<select id="saveCollection" parameterType="map" resultType="com.c.etity.Collection">
		select *
		from Collection
		where collectionuser=#{collectionuser} and collectionid = #{collectionid}
	</select>
	<insert id="addFans" parameterType="map">
		insert into
		Fans
		values
		(#{id},#{username},#{fansusername})
	</insert>
	<select id="saveFans" parameterType="map" resultType="com.c.etity.Fans">
		select *
		from Fans
		where username =#{username} and fansusername = #{fansusername}
	</select>
</mapper>
