.head{
	margin-left:20%;
	margin-top:20%;
	width:200px;
	height:180px;
}
.children{
	float:left;
	text-align:center;
	font-size:25px;
	color: blue;
}
.admin{
	text-align:center;
	font-size:25px;
	margin-left:12px;
	float:left;
}
.parents{
	float:right;
	text-align:center;
	font-size:25px;
}
.apply1{
	text-align:center;
}
.apply2{
	text-align:center;
}
.apply3{
	text-align:center;
}
.apply4{
	text-align:center;
}
.apply5{
	text-align:center;
}