.bodybackground{
background-image: url(.././myimage/注册界面.jpg);
width:1000px;
height:600px;
background-repeat: no-repeat;
background-size:100% auto;
}
.applyframe{
	width:400px;
	height:500px;
	position:absolute;
	left:30%;
	top:10%;
	background:rgba(255,255,255,0.5);
}
.momandfad{
	width:50%;
	left:50%;
	position:absolute;
}
.children{
	width:50%;
	background-color:rgba(255,255,255,0.5);
}