.login{
	position:absolute;
	left:30%;
	top:10%;
	width:400px;
	height:700px;
	background-image: url(.././myimage/登陆界面.jpg);
	background-size:400px auto;
	background-repeat: repeat;
}

.loginpassword{
	margin-top:3%;
	width:60%;
	margin-left:20%;
}
.loginusername{
	margin-top:60%;
	width:60%;
	margin-left:20%;
}
.buttonlogin{
	margin-left:20%;
	margin-top:3%;
	width:118px;
}
.buttonapply{
	margin-top:3%;
	width:118px;
}
