.mybody{
	background-image: url(.././myimage/个人界面背景图.jpg);
	background-color:rgb(0,250,154);
	background-size:100% auto;
	background-repeat: no-repeat;
}
.myselect{
	position:absolute;
	top:82%;
	left:30%;
	width:30%;
	height:15%;
	font-size:60px;
}
.mycollection{
	background-color:rgba(135,206,235,0.4);
	width:400px;
	height:300px;
	position:absolute;
	left:40%;
	top:8%;
}
.mytitle{
	background-color:rgba(135,206,235,0.8);
	text-shadow: 5px 5px 5px rgba(240,255,255,1);
}
.mylist{
	position:absolute;
	top:82%;
	width:30%;
	height:15%;
	font-size:60px;
}
.myspeak{
	position:absolute;
	left:5%;
	width:400px;
}